body {
	background-color: rgb(0, 0, 128);
	margin: 0;
}

header {
	background:#333;
	color: white;
	padding: 2px 15px 0 15px;
}

header p {
	margin: 0;
	display: inline;

}

.button {
	background: #333;
	border-color: blue;
	color: blue;
	margin: 5px;
	padding: 20px;
}

.button2 {
	background: #333;
	border-color: blue;
	color: blue;
	margin: 5px;
	padding: 20px;
}

.button3 {
	background: #333;
	border-color: blue;
	color: blue;
	margin: 5px;
	padding: 20px;
}

.button4 {
	background: #333;
	border-color: blue;
	color: blue;
	margin: 5px;
	padding: 20px;
}

.button5 {
	background: #333;
	border-color: blue;
	color: blue;
	margin: 5px;
	padding: 20px;
}

.button6 {
	background: #333;
	border-color: blue;
	color: blue;
	margin: 5px;
	padding: 20px;
}

.button7 {
	background: #333;
	border-color: blue;
	color: blue;
	margin: 5px;
	padding: 20px;
}

.button8 {
	background: #333;
	border-color: blue;
	color: blue;
	margin: 5px;
	padding: 20px;
}

.button9 {
	background: #333;
	border-color: blue;
	color: blue;
	margin: 5px;
	padding: 20px;
}

.button10 {
	background: #333;
	border-color: blue;
	color: blue;
	margin: 5px;
	padding: 20px;
}

.button11 {
	background: #333;
	border-color: blue;
	color: blue;
	margin: 5px;
	padding: 20px;
}

.button12 {
	background: #333;
	border-color: blue;
	color: blue;
	margin: 5px;
	padding: 20px;
}

.button13 {
	background: #333;
	border-color: blue;
	color: blue;
	margin: 5px;
	padding: 20px;
}

.button14 {
	background: #333;
	border-color: blue;
	color: blue;
	margin: 5px;
	padding: 20px;
}

.button15 {
	background: #333;
	border-color: blue;
	color: blue;
	margin: 5px;
	padding: 20px;
}

.button16 {
	background: #333;
	border-color: blue;
	color: blue;
	margin: 5px;
	padding: 20px;
}

.button17 {
	background: #333;
	border-color: blue;
	color: blue;
	margin: 5px;
	padding: 20px;
}

.button18 {
	background: #333;
	border-color: blue;
	color: blue;
	margin: 5px;
	padding: 20px;
}

.button19 {
	background: #333;
	border-color: blue;
	color: blue;
	margin: 5px;
	padding: 20px;
}

.button20 {
	background: #333;
	border-color: blue;
	color: blue;
	margin: 5px;
	padding: 20px;
}

.button21 {
	background: #333;
	border-color: blue;
	color: blue;
	margin: 5px;
	padding: 20px;
}

.button22 {
	background: #333;
	border-color: blue;
	color: blue;
	margin: 5px;
	padding: 20px;
}

.button23 {
	background: #333;
	border-color: blue;
	color: blue;
	margin: 5px;
	padding: 20px;
}

.button24 {
	background: #333;
	border-color: blue;
	color: blue;
	margin: 5px;
	padding: 20px;
}

.button25 {
	background: #333;
	border-color: blue;
	color: blue;
	margin: 5px;
	padding: 20px;
}

.button26 {
	background: #333;
	border-color: blue;
	color: blue;
	margin: 5px;
	padding: 20px;
}

.button27 {
	background: #333;
	border-color: blue;
	color: blue;
	margin: 5px;
	padding: 20px;
}

.button28 {
	background: #333;
	border-color: blue;
	color: blue;
	margin: 5px;
	padding: 20px;
}

.button29 {
	background: #333;
	border-color: blue;
	color: blue;
	margin: 5px;
	padding: 20px;
}

.button30 {
	background: #333;
	border-color: blue;
	color: blue;
	margin: 5px;
	padding: 20px;
}

.button31 {
	background: #333;
	border-color: blue;
	color: blue;
	margin: 5px;
	padding: 20px;
}